<?XML version="1.0"?>
<scriptlet>
<script language="JScript">
<![CDATA[
try {
    var shell = new ActiveXObject("WScript.Shell");
    
    // Basit test
    shell.Run("cmd.exe /c echo SCT Test Working > C:\\temp\\test_success.txt", 0, true);
    shell.Run("cmd.exe /c date /t > C:\\temp\\date_info.txt", 0, true);
    shell.Run("cmd.exe /c time /t > C:\\temp\\time_info.txt", 0, true);
    
} catch(e) {
    // Hata durumunda
    var fso = new ActiveXObject("Scripting.FileSystemObject");
    var errorFile = fso.CreateTextFile("C:\\temp\\error_log.txt", true);
    errorFile.WriteLine("Error: " + e.message);
    errorFile.Close();
}
]]>
</script>
</scriptlet>
